<!-- example news with image -->
<article class="content-container">

    <!-- header -->
    <header class="news_headline">
        <span class="material-icons">account_circle</span>
        <span class="news_author">Lucas Carmohn</span>
        <span class="news_time">3h ago</span>
    </header>

    <!-- content -->
    <section class="news_signle">

        <article class="news_content">

            <!-- toolbar -->
            <section class="toolbar">
                <span class="material-icons">favorite_border</span>
                <span class="material-icons">add_comment</span>
                <span class="material-icons">reply</span>
            </section>

            <!-- post with text -->
            <img class="news_image" src="../../main/css/images/dummy.jpg" alt="test" title="test">

        </article>

    </section>

    <!-- comments -->
    <section class="news_comment">

        <!-- signle comment -->
        <article class="comment">
            <span class="material-icons">account_circle</span>
            <span class="news_author">Lucas Carmohn</span>
            <span clas="news_time">3h ago</span>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </article>

        <!-- signle comment with delete -->
        <article class="comment">
            <span class="material-icons icon">account_circle</span>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <span class="material-icons">remove</span>
        </article>

        <button onclick="" id="myBtn">Read more</button>

    </section>

</article>