<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- structure-container -->
    <div id="wrapper">

        <!-- navigation -->
        <nav>
            <a class="nav-btn" title="Profil" href="#">Profil</a> /
            <a class="nav-btn" title="Newsfeat" href="#">Newsfeat</a> /
            <a class="nav-btn" title="Chat" href="#">Chat</a>
        </nav>

        <!-- example post with image-->
        <div class="content-container">
            <div class="news_headline">
                <span class="material-icons icon">account_circle</span>
            </div>
            <div class="news_content">
                <div clas="social_bar"></div>
                <div clas="container_content"></div>
            </div>
            <div class="news_comment">
            </div>
        </div>


    </div>


</body>

</html>