<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Profile example</title>
</head>

<body>

    <!-- structure-container -->
    <main id="wrapper">

        <!-- navigation -->
        <nav>
            <a class="nav-btn" title="Profil" href="#">Profil</a> /
            <a class="nav-btn" title="Newsfeat" href="#">Newsfeed</a> /
            <a class="nav-btn" title="Chat" href="#">Chat</a>
        </nav>

        <!-- template not specified -->

    </main>
</body>

</html>