<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Profile example</title>
</head>

<body>

    <!-- structure-container -->
    <main id="wrapper">

        <!-- navigation -->
        <nav>
            <a class="nav-btn" title="Profil" href="#">Profil</a> /
            <a class="nav-btn" title="Newsfeat" href="#">Newsfeed</a> /
            <a class="nav-btn" title="Chat" href="#">Chat</a>
        </nav>

        <!-- example post with image-->
        <article class="content-container">

            <!-- header -->
            <header class="profil_headline">
                <span class="material-icons">format_quote</span>
                <span>Webdeveloper and Fan of this App!!!</span>
            </header>

            <!-- Profile info -->
            <section class="profil_content">
                <img src="../main/css/images/dummy.jpg" alt="Dummy" title="Dummy" />
                <span class="news_author">Lucas Carmohn</span>
                <span class="material-icons">place</span>
            </section>

            <!-- Line -->
            <hr>

            <!-- Profile bar -->
            <section class="profil_content">
                <span class="material-icons">supervisor_account</span>
                <span class="material-icons">article</span>
                <span class="material-icons">settings</span>
            </section>
        </article>


        <!-- friendlist-->
        <article class="content-container">

            <!-- header -->
            <header class="friends_headline">
                <span>4 Friends:</span>
                <span class="material-icons">delete</span>
            </header>

            <!-- friend-lists -->
            <section class="friends_list">
                <ul>
                    <li>
                        <span class="material-icons icon">account_circle</span> Roobin Wettstädt</li>
                    <li>Zweiter Eintrag</li>
                    <li>Dritter Eintrag</li>
                </ul>
            </section>

            <!-- comments -->
            <section class="news_comment">
                <article class="comment">
                    <span class="material-icons icon">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </article>
            </section>
        </article>

    </main>
</body>

</html>