<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main/static/css/day_skin.css">
    <link rel="stylesheet" href="../../main/static/css/night_skin.css">
    <link rel="stylesheet" href="../../main/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Auth</title>
</head>

<body>

    <!-- back to top button -->
    <button onclick="topFunction()" id="goTopButton" title="Go to top">Top</button>

    <!-- javascript box / DONT TOUCH -->
    <script src="../../main/static/js/query.min.js"></script>
    <script src="../../main/static/js/functions.js"></script>
    <script type="text/javascript">
        auth_selection();
    </script>
    <!-- / javascript box / DONT TOUCH -->

    <!-- structure-container -->
    <main id="wrapper">

        <!-- call auth switch -->
        <script type="text/javascript">
            auth_selection();
        </script>

        <!-- login-home -->
        <article class="content-container color_day article_arrow">

            <!-- header -->
            <header class="head_box">
                <h1>Willkommen!</h1>
                <img id="login_logo" src="../../main/static/data/images/lcarmohn/img_avatar.png" alt="Dummy" title="Dummy" />
            </header>

            <!-- login / signup switch -->
            <section class="mid_box">
                <ul id="login_selection">
                    <li>
                        <a href="#" id="show_login">
                            <label class="button_label color_day font_d_n">Anmelden</label>
                            <span class="material-icons color_day font_d_n right_icon">login</span>
                        </a>
                    </li><br>
                    <li>
                        <a href="#" id="show_register">
                            <label class="button_label color_day font_d_n">Registrieren</label>
                            <span class="material-icons color_day font_d_n right_icon">add</span>
                        </a>
                    </li><br>
                    <li>
                        <a href="#" id="show_pwv">
                            <label class="button_label color_day font_d_n">Passwort vergessen</label>
                            <span class="material-icons color_day font_d_n right_icon">password</span>
                        </a>
                </ul>
            </section>


            <!-- footer -->
            <section class="bottom_box">
                <a href="https://github.com/BeBaxxter/AluStego/blob/main/README.md" title="Über uns" target="_blank">Über uns</a> |
                <a href="https://github.com/BeBaxxter/AluStego/blob/main/Impressum.md" title="Impressum" target="_blank">Impressum</a>
            </section>
        </article>

        <!-- login-field -->
        <article id="login" class="content-container color_day">

            <!-- header -->
            <header class="head_box">
                <h1>Willkommen!</h1>
                <h3>Anmelden:</h3>
            </header>

            <!-- login -->
            <section class="mid_box">
                <form action="#">
                    <label class="auth_label" for="lun">Nutzername:</label><br>
                    <input class="auth_label input" type="text" id="lun" name="lun"><br>

                    <label class="auth_label" for="lpw">Passwort:</label><br>
                    <input class="auth_label input" type="text" id="lpw" name="lpw"><br>

                    <input class="submit_button" type="submit" value="Anmelden">
                </form>
            </section>

        </article>

        <!-- register -->
        <article id="register" class="content-container color_day">

            <!-- header -->
            <header class="head_box">
                <h1>Willkommen!</h1>
                <h3>Registrieren</h3>
            </header>

            <!-- register -->
            <section class="mid_box">
                <form action="#">
                    <label class="auth_label" for="run">Nutzername:</label><br>
                    <input class="auth_label input" type="text" id="run" name="run"><br>

                    <label class="auth_label" for="rem">E-Mail:</label><br>
                    <input class="auth_label input" type="email" id="rem" name="rem"><br>

                    <label class="auth_label" for="rpw">Passwort:</label><br>
                    <input class="auth_label input" type="text" id="rpw" name="rpw"><br>

                    <input class="submit_button" type="submit" value="Registrieren">
                </form>
            </section>

        </article>

        <!-- passwordV -->
        <article id="pwv" class="content-container color_day">

            <!-- header -->
            <header class="head_box">
                <h1>Willkommen!</h1>
                <h3>Passwort vergessen</h3>
            </header>

            <!-- passwortV -->
            <section class="mid_box">
                <form action="#">
                    <label class="auth_label" for="pvun">Nutzername:</label><br>
                    <input class="auth_label input" type="text" id="pvun" name="pvun"><br>

                    <label class="auth_label" for="pvem">E-Mail:</label><br>
                    <input class="auth_label input" type="email" id="pvem" name="pvem"><br>

                    <input class="submit_button" type="submit" value="Passwort vergessen">
                </form>
            </section>

        </article>

    </main>
    <!-- / structure-container -->

</body>

</html>