<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main/css/day_skin.css">
    <link rel="stylesheet" href="../../main/css/night_skin.css">
    <link rel="stylesheet" href="../../main/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Core template</title>
</head>

<body>

    <!-- back to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!-- structure-container -->
    <main id="wrapper">

        <!-- navigation -->
        <nav class="color_day">
            <ul class="menu">
                <li class="nav-btn"><a href="../complete/profile.html">Profil</a></li> /
                <li class="nav-btn"><a href="../complete/news.html">News</a></li> /
                <li class="nav-btn"><a href="../complete/chats.html">Chats</a></li>
            </ul>
        </nav>

        <!-- structure-container -->


        <!--
        @Robin and @Max. Main template for every site. Contains

        1. Navigation
        2. example cards
        3. Back to top button

        Please dont change or modifiy the html structure. Only modify html inside the <main id="wrapper">.

        -->

        <!-- example card-->
        <article class="content-container color_day">

            <!-- header -->
            <header class="profil_headline">
                <h1>Example Headline</h1>
            </header>

            <!-- section -->
            <section class="news_signle">
                <p> example section </p>
            </section>
        </article>

        <!-- example card-->
        <article class="content-container color_day">

            <!-- header -->
            <header class="profil_headline">
                <h1>Example Headline</h1>
            </header>

            <!-- section -->
            <section class="news_signle">
                <p> example section </p>
            </section>
        </article>


        <!-- / structure-container -->


    </main>


    <!-- back to top js -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>