<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main/python/static/css/day_skin.css">
    <link rel="stylesheet" href="../../main/python/static/css/night_skin.css">
    <link rel="stylesheet" href="../../main/python/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>News template</title>
</head>

<body>

    <!-- back to top button -->
    <button onclick="topFunction()" id="goTopButton" title="Go to top">Top</button>

    <!-- structure-container -->
    <main id="wrapper">

        <!-- navigation -->
        <nav class="color_day">
            <ul class="menu">
                <li class="nav-btn"><a href="profile.html">Profil</a></li> /
                <li class="nav-btn"><a href="news.html">News</a></li> /
                <li class="nav-btn"><a href="#">Chats</a></li>
            </ul>
        </nav>


        <!-- add new post toolkit -->
        <article class="content-container color_day">
            <span class="material-icons material-icons_xxl"><a href="#" id="show_text_post"  title="Neuen Textpost hinzufügen">post_add</a></span>
            <span class="material-icons material-icons_xxl"><a href="#" id="show_image_post" title="Neuen Photopost hinzufügen">add_photo_alternate</a></span>
            <span class="material-icons material-icons_xxl"><a href="#" id="show_video_post" title="Neuen Videopost hinzufügen">movie_creation</a></span>
        </article>

        <!-- add new box js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {

                $("#text_post").hide();
                $("#image_post").hide();
                $("#video_post").hide();

                $("#show_text_post").click(function() {
                    $("#text_post").show();
                    $("#image_post").hide();
                    $("#video_post").hide();
                });
                $("#show_image_post").click(function() {
                    $("#image_post").show();
                    $("#text_post").hide();
                    $("#video_post").hide();
                });
                $("#show_video_post").click(function() {
                    $("#video_post").show();
                    $("#image_post").hide();
                    $("#text_post").hide();
                });
            });
        </script>


        <!-- new post with text -->
        <article id="text_post" class="content-container color_day">

            <form action="#">
                <label for="fname">Deine Nachricht:</label><br>
                <textarea name="message" placeholder="Hier tippen..."></textarea>
                <input class="submit_button" type="submit" value="Posten">
            </form>

        </article>

        <!-- new post with image -->
        <article id="image_post" class="content-container color_day">

            <form action="#">
                <label for="fname">Dein Bild:</label><br>
                <input type="file" id="myFile" name="filename" multiple accept="image/*">
                <input class="submit_button" type="submit" value="Posten">
            </form>

        </article>

        <!-- new post with video -->
        <article id="video_post" class="content-container color_day">

            <form action="#">
                <label for="fname">Dein Video:</label><br>
                <input type="file" id="myFile" name="filename" multiple accept="video/*">
                <input class="submit_button" type="submit" value="Posten">
            </form>

        </article>



        <!-- example news with text -->
        <article class="content-container color_day">

            <!-- header -->
            <header class="news_headline">
                <span><img class="news_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png"></span>
                <span class="news_author">Lucas Carmohn</span>
                <span class="news_time">3h ago</span>
            </header>

            <!-- content -->
            <section class="news_signle">

                <article class="news_content">

                    <!-- toolbar -->
                    <section class="toolbar">
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_comment</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                    </section>

                    <!-- post with text -->
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                </article>

            </section>

            <!-- comments -->
            <section class="news_comment">

                <input type="checkbox" class="read-more-state" id="post-1" />

                <ul class="comment_list read-more-wrap">

                    <!-- new comment with text -->
                    <article class="comment">

                        <form action="#" class="add_comment">
                            <label for="fname">Kommentar:</label><br>
                            <textarea name="message" placeholder="Hier tippen..."></textarea>
                            <input class="submit_button" type="submit" value="Posten">
                        </form>

                    </article>

                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>

                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>


                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>

                </ul>

                <label for="post-1" class="read-more-trigger material-icons material-icons_xxl"></label>


            </section>

        </article>

        <!-- example news with image -->
        <article class="content-container color_day">

            <!-- header -->
            <header class="news_headline">
                <span><img class="news_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png"></span>
                <span class="news_author">Lucas Carmohn</span>
                <span class="news_time">3h ago</span>
            </header>

            <article class="news_content">

                <!-- toolbar -->
                <section class="toolbar">
                    <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite_border</a></span>
                    <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_comment</a></span>
                    <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                </section>

                <!-- post with image -->
                <img class="news_post_image_video" src="../../main/python/static/data/images/lcarmohn/dummy.jpg" title="dummy" alt="dummy">
            </article>


            <!-- comments -->
            <section class="news_comment">

                <input type="checkbox" class="read-more-state" id="post-2" />

                <ul class="comment_list read-more-wrap">

                    <!-- new comment with text -->
                    <article class="comment">

                        <form action="#" class="add_comment">
                            <label for="fname">Kommentar:</label><br>
                            <textarea name="message" placeholder="Hier tippen..."></textarea>
                            <input class="submit_button" type="submit" value="Posten">
                        </form>

                    </article>

                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>

                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>


                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>

                </ul>

                <label for="post-2" class="read-more-trigger material-icons material-icons_xxl"></label>


            </section>

        </article>

        <!-- example news with video -->
        <article class="content-container color_day">

            <!-- header -->
            <header class="news_headline">
                <span><img class="news_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png"></span>
                <span class="news_author">Lucas Carmohn</span>
                <span class="news_time">3h ago</span>
            </header>

            <!-- content -->
            <section class="news_signle">

                <article class="news_content">

                    <!-- toolbar -->
                    <section class="toolbar">
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite_border</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_comment</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                    </section>

                    <!-- post with video -->
                    <video class="news_post_image_video" src="../../main/python/static/data/images/lcarmohn/dummy.mp4" poster="posterimage.jpg">
                      </video>
                </article>

            </section>

            <!-- comments -->
            <section class="news_comment">

                <input type="checkbox" class="read-more-state" id="post-3" />

                <ul class="comment_list read-more-wrap">

                    <!-- new comment with text -->
                    <article class="comment">

                        <form action="#" class="add_comment">
                            <label for="fname">Kommentar:</label><br>
                            <textarea name="message" placeholder="Hier tippen..."></textarea>
                            <input class="submit_button" type="submit" value="Posten">
                        </form>

                    </article>

                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>

                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>


                    <!-- comment -->
                    <article class="comment read-more-target">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                            <!-- delete comment -->
                            <span>
                                <a href="# " title="default ">
                                    <img class="delete_comment " alt="dummy " title="dummy " src="../../main/python/static/css/icons/close_icon.svg ">
                                </a>
                            </span>
                        </section>

                        <!-- comment with text -->
                        <section>
                            <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                        </section>
                    </article>

                </ul>

                <label for="post-3" class="read-more-trigger material-icons material-icons_xxl"></label>


            </section>

        </article>

    </main>

    <!-- back to top js -->
    <script>
        //Get the button
        var mybutton = document.getElementById("goTopButton");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block ";
            } else {
                mybutton.style.display = "none ";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>