<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main/python/static/css/day_skin.css">
    <link rel="stylesheet" href="../../main/python/static/css/night_skin.css">
    <link rel="stylesheet" href="../../main/python/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Profile example</title>
</head>

<body>

    <!-- back to top button -->
    <button onclick="topFunction()" id="goTopButton" title="Go to top">Top</button>

    <!-- structure-container -->
    <main id="wrapper">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {

                $("#friendlist").hide();
                $("#settings").hide();

                $("#show_friends").click(function() {
                    $("#friendlist").show();
                    $("#newslist").hide();
                    $("#settings").hide();
                });
                $("#show_feed").click(function() {
                    $("#newslist").show();
                    $("#friendlist").hide();
                    $("#settings").hide();
                });
                $("#show_settings").click(function() {
                    $("#settings").show();
                    $("#newslist").hide();
                    $("#friendlist").hide();
                });
            });
        </script>


        <!-- navigation -->
        <nav class="color_day">
            <ul class="menu">
                <li class="nav-btn"><a href="profile.html">Profil</a></li> /
                <li class="nav-btn"><a href="news.html">News</a></li> /
                <li class="nav-btn"><a href="#">Chats</a></li>
            </ul>
        </nav>


        <!-- profile -->
        <article class="content-container color_day">

            <!-- header -->
            <header>
                <span class="material-icons material-icons_xxl">format_quote</span>
                <span id="profile_caption">Webdeveloper and Fan of this App!!!</span>
            </header>

            <!-- Profile info -->
            <section>
                <img id="profile_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png" alt="Dummy" title="Dummy" />

                <section>
                    <span class="material-icons">place</span>
                    <span class="news_author">Lucas Carmohn</span>
                </section>

            </section>

            <!-- Line -->
            <hr>

            <!-- Profile bar -->
            <section>
                <span class="material-icons material-icons_xxl"><a id="show_friends" href="#" class="link" title="default">supervisor_account</a></span>
                <span class="material-icons material-icons_xxl"><a id="show_feed" href="#" class="link" title="default">article</a></span>
                <span class="material-icons material-icons_xxl"><a id="show_settings" href="#" class="link" title="default">settings</a></span>
            </section>
        </article>


        <!-- friendlist-->
        <article id="friendlist" class="content-container color_day">

            <!-- header -->
            <header>
                <span>4 Friends:</span>
                <a href="#" class="link" title="default">
                    <span class="material-icons">delete</span>
                </a>
            </header>

            <!-- friend-lists -->
            <section>
                <ul class="friends_list">
                    <li class="friend_entry">
                        <span class="material-icons icon">account_circle</span>
                        <span class="friend_name">Roobin Wettstädt (online ansicht)</span>
                        <img class="friend_status" alt="dummy" title="dummy" src="../../main/python/static/css/icons/offline_icon.svg">
                    </li>
                    <li class="friend_entry">
                        <span class="material-icons icon">account_circle</span>
                        <span class="friend_name">Roobin Wettstädt (offline ansicht)</span>
                        <img class="friend_status" alt="dummy" title="dummy" src="../../main/python/static/css/icons/online_icon.svg">
                    </li>
                    <li class="friend_entry">
                        <span class="material-icons icon">account_circle</span>
                        <span class="friend_name">Roobin Wettstädt (löschen ansicht)</span>
                        <a href="#" class="link" title="default">
                            <img class="friend_status" alt="dummy" title="dummy" src="../../main/python/static/css/icons/close_icon.svg">
                        </a>
                    </li>
                </ul>
            </section>
        </article>

        <!-- newslist -->
        <article id="newslist" class="content-container color_day">


            <!-- todo -->



        </article>

        <!-- settings -->
        <article id="settings" class="content-container color_day">

            <!-- settings-lists -->
            <section class="settings_section">
                <ul class="setting_list">
                    <li class="setting_entry"></li>
                    <li class="setting_entry"></li>
                    <li class="setting_entry"></li>
                </ul>
            </section>
        </article>

    </main>

    <!-- back to top js -->
    <script>
        //Get the button
        var mybutton = document.getElementById("goTopButton");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block ";
            } else {
                mybutton.style.display = "none ";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>