<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main/python/static/css/day_skin.css">
    <link rel="stylesheet" href="../../main/python/static/css/night_skin.css">
    <link rel="stylesheet" href="../../main/python/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Profile</title>
</head>

<body>
    <!-- back to top button -->
    <button class="color_day" onclick="topFunction()" id="goTopButton" title="Go to top"><label class="material-icons material-icons_xxl" id="expandless">expand_less</label></button>

    <!-- javascript box / DONT TOUCH -->
    <script src="../../main/python/static/js/query.min.js"></script>
    <script src="../../main/python/static/js/functions.js"></script>
    <script type="text/javascript">
        profile_selection();
    </script>
    <!-- / javascript box / DONT TOUCH -->

    <!-- structure-container -->
    <main id="wrapper">
        <nav id="navigation" class="color_day">
            <ul class="menu">
                <li class="nav-btn"><a href="profile.html">Profil</a></li> /
                <li class="nav-btn article_arrow"><a href="feed.html">Feed</a></li> /
                <li class="nav-btn"><a href="auth.html">Chats</a></li>
            </ul>
        </nav>

        <!-- call profile switch -->
        <script type="text/javascript">
            profile_selection();
        </script>


        <!-- profile -->
        <article class="content-container color_day article_arrow">

            <!-- header -->
            <header id="profile_header">
                <span id="profile_quote" class="material-icons material-icons_xxl">format_quote</span>
                <span id="profile_caption">Webdeveloper and Fan of this App!!! Lorem ipsum second line</span>
            </header>

            <!-- Profile info -->
            <section>
                <img id="profile_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png" alt="Dummy" title="Dummy" />

                <section>
                    <span class="feed_author">Lucas Carmohn</span>
                </section>

                <section>
                    <span class="material-icons" id="profile_location">place</span>
                    <span id="profile_town">Berlin</span>
                </section>

            </section>

            <!-- Line -->
            <hr>

            <!-- Profile bar -->
            <section>
                <span class="material-icons material-icons_xxl"><a id="show_friends" href="#" class="link" title="default">supervisor_account</a></span>
                <span class="material-icons material-icons_xxl"><a id="show_feed" href="#" class="link" title="default">article</a></span>
                <span class="material-icons material-icons_xxl"><a id="show_settings" href="#" class="link" title="default">settings</a></span>
            </section>
        </article>


        <!-- friendlist-->
        <article id="friendlist" class="content-container color_day">

            <!-- header -->
            <header>
                <span>4 Friends:</span>
                <a href="#" class="link" title="default">
                    <span class="material-icons">delete</span>
                </a>
            </header>

            <!-- friend-lists -->
            <section>
                <ul class="friends_list">
                    <li class="friend_entry">
                        <span class="material-icons material-icons_xxl">account_circle</span>
                        <span class="friend_name">Roobin Wettstädt (online ansicht)</span>
                        <img class="friend_status" alt="dummy" title="dummy" src="../../main/python/static/css/icons/offline_icon.svg">
                    </li>
                    <li class="friend_entry">
                        <span class="material-icons">account_circle</span>
                        <span class="friend_name">Roobin Wettstädt (offline ansicht)</span>
                        <img class="friend_status" alt="dummy" title="dummy" src="../../main/python/static/css/icons/online_icon.svg">
                    </li>
                    <li class="friend_entry">
                        <span class="material-icons">account_circle</span>
                        <span class="friend_name">Roobin Wettstädt (löschen ansicht)</span>
                        <a href="#" class="link" title="default">
                            <img class="friend_status" alt="dummy" title="dummy" src="../../main/python/static/css/icons/close_icon.svg">
                        </a>
                    </li>
                </ul>
            </section>
        </article>

        <style>

        </style>
        <script>
        </script>

        <!-- feedlist -->
        <article id="feedlist">

            <!-- example feed with text -->
            <article class="content-container color_day article_arrow">

                <!-- header -->
                <header class="feed_headline">
                    <span><img class="feed_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png"></span>
                    <span class="feed_author">Lucas Carmohn</span><br>
                    <span class="feed_time">3h ago</span>
                </header>

                <!-- content -->
                <section class="feed_signle">

                    <article class="feed_content">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite</a></span>
                            <span class="material-icons material-icons_xxl"><a onclick="showCommentBox('comment-box-1');" href="#" class="link" title="default">add_comment</a></span>
                            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                        </section>

                        <!-- post with text -->
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    </article>

                </section>

                <!-- comments -->
                <section class="feed_comment">

                    <input type="checkbox" class="read-more-state" id="post-1" />

                    <ul class="comment_list read-more-wrap">

                        <!-- new comment with text -->
                        <article id="comment-box-1" class="comment comment_box">

                            <form action="#" class="add_comment">
                                <label>Kommentar:</label><br>
                                <textarea name="message" placeholder="Hier tippen..."></textarea>
                                <input class="submit_button" type="submit" value="Posten">
                            </form>

                        </article>

                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                    </ul>

                    <label for="post-1" class="read-more-trigger material-icons material-icons_xxl"></label>

                </section>

            </article>

            <!-- example feed with text -->
            <article class="content-container color_day article_arrow">

                <!-- header -->
                <header class="feed_headline">
                    <span><img class="feed_image" src="../../main/python/static/data/images/lcarmohn/img_avatar.png"></span>
                    <span class="feed_author">Lucas Carmohn</span><br>
                    <span class="feed_time">3h ago</span>
                </header>

                <!-- content -->
                <section class="feed_signle">

                    <article class="feed_content">

                        <!-- toolbar -->
                        <section class="toolbar">
                            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite</a></span>
                            <span class="material-icons material-icons_xxl"><a onclick="showCommentBox('comment-box-1');" href="#" class="link" title="default">add_comment</a></span>
                            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                        </section>

                        <!-- post with text -->
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    </article>

                </section>

                <!-- comments -->
                <section class="feed_comment">

                    <input type="checkbox" class="read-more-state" id="post-1" />

                    <ul class="comment_list read-more-wrap">

                        <!-- new comment with text -->
                        <article id="comment-box-1" class="comment comment_box">

                            <form action="#" class="add_comment">
                                <label>Kommentar:</label><br>
                                <textarea name="message" placeholder="Hier tippen..."></textarea>
                                <input class="submit_button" type="submit" value="Posten">
                            </form>

                        </article>

                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                        <!-- comment -->
                        <article class="comment read-more-target">

                            <!-- toolbar -->
                            <section class="toolbar read-more-hide">
                                <span><img class="comment_user_icon" src="../../main/python/static/data/images/lcarmohn/img_avatar.png " title="Dummy" alt="Dummy"></span>

                                <!-- delete comment -->
                                <span><a href="# " title="default "><span class="material-icons close_icon">close</span></a>
                                </span>
                            </section>

                            <!-- comment with text -->
                            <section>
                                <p>Das ist ein Kommmentar indem ich irgendwas tolles über deinen Beitrag schreibe. Eigentlich ist das ein Dummytext um vernünftige CSS Style zu testen. Warum liest du das eigentlich noch? Hast du nichts zu tun?</p>
                            </section>
                        </article>


                    </ul>

                    <label for="post-1" class="read-more-trigger material-icons material-icons_xxl"></label>

                </section>

            </article>

        </article>

        <!-- settings -->
        <article id="settings" class="content-container color_day">

            <!-- settings-lists -->
            <section class="settings_section">
                <ul class="setting_list">
                    <li class="setting_entry">
                        <!-- dropdown -->
                    </li>
                    <li class="setting_entry">
                        <!-- Logout Button -->
                    </li>
                    <li class="setting_entry"></li>
                </ul>
            </section>

        </article>

    </main>

</body>

</html>