/** main container**/

body {
    background-color: #bfbfbf;
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#wrapper {
    width: 31.25%;
    margin: 0 auto;
    position: relative;
}

.menu {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    font-size: xx-large;
    margin-bottom: 50px;
    border-radius: 10px;
}

.nav-btn {
    display: inline;
}

.nav-btn a:link {
    background-color: transparent;
    text-decoration: none;
}

.nav-btn a:visited {
    background-color: transparent;
    text-decoration: none;
}

.content-container {
    margin-top: 50px;
    border-radius: 10px;
}

.material-icons.icon {
    color: #fff;
}


/** news **/


/** profile **/


/** chats **/


/** back to top button **/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}