.color_night {
    background: #49798C;
    color: #fff;
}

.color_night a:link {
    color: #fff;
}

.color_night a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

.color_night_comments {
    background-color: #fff;
    color: #49798C;
}