{% extends "main.html" %} {% block main %}

<!-- call feed switch -->
<script type="text/javascript">
    feed_selection();
</script>

<!-- add new post toolkit -->
<article class="content-container {{colorTheme}} article_arrow">
    <span class="material-icons material-icons_xxl"><a href="#" id="show_text_post"  title="Neuen Textpost hinzufügen">post_add</a></span>
    <span class="material-icons material-icons_xxl"><a href="#" id="show_image_post" title="Neuen Photopost hinzufügen">add_photo_alternate</a></span>
    <span class="material-icons material-icons_xxl"><a href="#" id="show_video_post" title="Neuen Videopost hinzufügen">movie_creation</a></span>
</article>

<!-- new post with text -->
<article id="text_post" class="content-container {{colorTheme}}">

    <form action="/uploadText" method="post">
        <label for="upload-message">Deine Nachricht:</label><br>
        <textarea id="upload-message" name="message" placeholder="Hier tippen..."></textarea>
        <input class="submit_button" type="submit" value="Posten">
    </form>

</article>

<!-- new post with image -->
<article id="image_post" class="content-container {{colorTheme}}">

    <form action="/uploadImage" method="post" enctype="multipart/form-data">
        <label for="myimage">Dein Bild:</label><br>
        <input type="file" id="myimage" name="image" multiple accept="image/*">
        <input class="submit_button" type="submit" value="Posten">
    </form>

</article>

<!-- new post with video -->
<article id="video_post" class="content-container {{colorTheme}}">

    <form action="/uploadVideo" method="post" enctype="multipart/form-data">
        <label for="myvideo">Dein Video:</label><br>
        <input type="file" id="myvideo" name="video" multiple accept="video/*">
        <input class="submit_button" type="submit" value="Posten">
    </form>

</article>

{% for post in posts %}


<article class="content-container {{colorTheme}} {{" article_arrow " if not loop.last}}">

    <!-- header -->
    <header class="feed_headline">
        <span><img class="feed_image" src="{{post.avatar}}"></span>
        <span class="feed_author">{{post.author}}</span><br>
        <span class="feed_time">{{post.time}}</span>
    </header>

    <!-- content -->
    <section class="feed_signle">

        <article class="feed_content">

            <!-- toolbar -->
            <section class="toolbar">
                <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite</a></span>
                <span class="material-icons material-icons_xxl"><a onclick="showCommentBox('comment-box-{{post.id}}');" class="link likebutton" title="default">add_comment</a></span>
                <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
            </section>

            <!-- text post -->
            {% if post.type == "text" %}
            <!-- post with text -->
            <p>{{post.text}}</p>
            {% endif %}
            <!-- image post -->
            {% if post.type == "image" %}
            <!-- post with image -->
            <img class="feed_post_image_video" src="{{post.photo}}" title="{{post.title}}" alt="{{post.alt}}"> {% endif %}

            <!-- video post -->
            {% if post.type == "video" %}
            <!-- post with video -->
            <video class="feed_post_image_video" src="{{post.video}}" poster="{{post.poster}}">
                      </video> {% endif %}

        </article>

    </section>

    <!-- comments -->
    <section class="feed_comment">

        <input type="checkbox" class="read-more-state" id="post-{{post.id}}" />

        <ul class="comment_list read-more-wrap">

            <!-- new comment with text -->
            <article id="comment-box-{{post.id}}" class="comment comment_box">

                <form action="/addComment" method="post" class="add_comment">
                    <label>Kommentar:</label><br>
                    <textarea name="message" placeholder="Hier tippen..."></textarea>
                    <input type="hidden" name="postId" value="{{post.id}}">
                    <input class="submit_button" type="submit" value="Posten">
                </form>

            </article>

            {% for comment in post.comments %}

            <!-- comment -->
            <article class="comment read-more-target">

                <!-- toolbar -->
                <section class="toolbar read-more-hide">
                    <span><img class="comment_user_icon" src="{{comment.avatar}}" title="Dummy" alt="Dummy"></span>

                    <!-- delete comment -->
                    <span><a href="#" title="default "><span class="material-icons close_icon">close</span></a>
                    </span>
                </section>

                <!-- comment with text -->
                <section>
                    <p>{{comment.text}}</p>
                </section>
            </article>

            {% endfor %}

        </ul>


        <label for="post-{{post.id}}" class="read-more-trigger material-icons material-icons_xxl"></label>


    </section>

</article>

{% endfor %} {% endblock %}