<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/day_skin.css">
    <link rel="stylesheet" href="../static/css/night_skin.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{title}}</title>
</head>

<body>

    <!-- back to top button -->
    <button onclick="topFunction()" id="goTopButton" title="Go to top">Top</button>

    <!-- javascript box / DONT TOUCH -->
    <script src="../static/js/query.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- / javascript box / DONT TOUCH -->

    <!-- structure-container -->
    <main id="wrapper">


        <!-- navigation -->
        <nav class="{{colorTheme}}">
            <ul class="menu">
                <li class="nav-btn"><a href="/profile">Profil</a></li> /
                <li class="nav-btn"><a href="/feed">News</a></li> /
                <li class="nav-btn"><a href="/chats">Chats</a></li>
            </ul>
        </nav>

        {% block main %} {% endblock %}

    </main>
</body>

</html>