<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../main/css/day_skin.css">
    <link rel="stylesheet" href="../../../main/css/night_skin.css">
    <link rel="stylesheet" href="../../../main/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login template</title>
</head>

<body>

    <!-- back to top butt√on -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!-- structure-container -->
    <main id="wrapper">

        <!-- navigation -->
        <nav class="color_day">
            <ul class="menu">
                <li class="nav-btn"><a href="#">Profil</a></li> /
                <li class="nav-btn"><a href="#">News</a></li> /
                <li class="nav-btn"><a href="#">Chats</a></li>
            </ul>
        </nav>

    </main>


    <!-- back to top js -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>