<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../main/css/day_skin.css">
    <link rel="stylesheet" href="../../../main/css/night_skin.css">
    <link rel="stylesheet" href="../../../main/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>News template</title>
</head>

<body>

    <!-- back to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!-- structure-container -->
    <main id="wrapper">

        <!-- navigation -->
        <nav class="color_day">
            <ul class="menu">
                <li class="nav-btn"><a href="../complete/profile.html">Profil</a></li> /
                <li class="nav-btn"><a href="../complete/news.html">News</a></li> /
                <li class="nav-btn"><a href="../complete/chats.html">Chats</a></li>
            </ul>
        </nav>


        <!-- add new post toolkit -->
        <article class="content-container color_day">
            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">post_add</a></span>
            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_photo_alternate</a></span>
            <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">movie_creation</a></span>
        </article>

        <!-- example news with text -->
        <article class="content-container color_day">

            <!-- header -->
            <header class="news_headline">
                <span class="material-icons material-icons_xxl">account_circle</span>
                <span class="news_author">Lucas Carmohn</span>
                <span class="news_time">3h ago</span>
            </header>

            <!-- content -->
            <section class="news_signle">

                <article class="news_content">

                    <!-- toolbar -->
                    <section class="toolbar">
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite_border</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_comment</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                    </section>

                    <!-- post with text -->
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                </article>

            </section>

            <!-- comments -->
            <section class="news_comment">

                <!-- signle comment -->
                <article class="comment">
                    <span class="material-icons material-icons_xxl">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Das ist ein Kommentar</p>
                </article>

                <!-- signle comment with delete -->
                <article class="comment">
                    <span class="material-icons material-icons_xxl">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Das ist ein Kommentar mit delete button</p>
                    <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">remove</a></span>
                </article>

                <button onclick="" id="myBtn">Read more</button>

            </section>

        </article>

        <!-- example news with image -->
        <article class="content-container color_day">

            <!-- header -->
            <header class="news_headline">
                <span class="material-icons material-icons_xxl">account_circle</span>
                <span class="news_author">Lucas Carmohn</span>
                <span class="news_time">3h ago</span>
            </header>

            <!-- content -->
            <section class="news_signle">

                <article class="news_content">

                    <!-- toolbar -->
                    <section class="toolbar">
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite_border</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_comment</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                    </section>

                    <!-- post with video -->
                    <video class="news_video" src="../../../main/css/images/dummy.mp4" autoplay poster="posterimage.jpg"></video>
                </article>

            </section>

            <!-- comments -->
            <section class="news_comment">

                <!-- signle comment -->
                <article class="comment">
                    <span class="material-icons material-icons_xxl">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Das ist ein Kommentar</p>
                </article>

                <!-- signle comment with delete -->
                <article class="comment">
                    <span class="material-icons material-icons_xxl">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Das ist ein Kommentar mit delete button</p>
                    <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">remove</a></span>
                </article>

                <button onclick="" id="myBtn">Read more</button>

            </section>

        </article>

        <!-- example news with video -->
        <article class="content-container color_day">

            <!-- header -->
            <header class="news_headline">
                <span class="material-icons material-icons_xxl">account_circle</span>
                <span class="news_author">Lucas Carmohn</span>
                <span class="news_time">3h ago</span>
            </header>

            <!-- content -->
            <section class="news_signle">

                <article class="news_content">

                    <!-- toolbar -->
                    <section class="toolbar">
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">favorite_border</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">add_comment</a></span>
                        <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">reply</a></span>
                    </section>

                    <!-- post with image -->
                    <img class="news_image" src="../../../main/css/images/dummy.jpg" alt="test" title="test">
                </article>

            </section>

            <!-- comments -->
            <section class="news_comment">

                <!-- signle comment -->
                <article class="comment">
                    <span class="material-icons material-icons_xxl">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Das ist ein Kommentar</p>
                </article>

                <!-- signle comment with delete -->
                <article class="comment">
                    <span class="material-icons material-icons_xxl">account_circle</span>
                    <span class="news_author">Lucas Carmohn</span>
                    <span clas="news_time">3h ago</span>
                    <p>Das ist ein Kommentar mit delete button</p>
                    <span class="material-icons material-icons_xxl"><a href="#" class="link" title="default">remove</a></span>
                </article>

                <button onclick="" id="myBtn">Read more</button>

            </section>

        </article>

    </main>

    <!-- back to top js -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>